/* --- General/Element Rules --- */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

/* --- Container Rules --- */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: white;
    height: 40px;
}
.nav-bar > a { 
    color: black;
    text-decoration: none;
    margin-right: 20px;
}
.nav-bar > a:hover {
    text-decoration: underline;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    display: grid;
    grid-template-areas: 
    "form-title form-title"
    "form-error-msgs form-error-msgs"
    "first-name last-name"
    "email email"
    "password password"
    "confirm-password confirm-password"
    "policies policies"
    "submit submit";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 16px;
    row-gap: 8px;

    margin: 100px 0px 100px 0px;
    padding: 30px;
    border-radius: 20px;
    
    background-color: white;
}
.sign-up-form > div.form-title {
    grid-area: form-title;
}
.sign-up-form > div.form-error-msgs {
    grid-area: form-error-msgs;
}
.sign-up-form > div.first-name {
    grid-area: first-name;
}
.sign-up-form > div.last-name {
    grid-area: last-name;
}
.sign-up-form > div.email {
    grid-area: email;
}
.sign-up-form > div.password {
    grid-area: password;
}
.sign-up-form > div.confirm-password {
    grid-area: confirm-password;
}
.sign-up-form > div.policies {
    grid-area: policies;
}
.sign-up-form > div.submit {
    grid-area: submit;
}

.error-msg {
    color: red;
}

/* --- Misc Rules --- */
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.text-align-center {
    text-align: center;
}

/* --- Search bar --- */
#search {
    background-color: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 25%;
    margin-left: 120px;
    margin-right: 120px;
}

#search input {
    border-radius: 20px;
    border-color: black;
    padding: 4px;
    width: 1000px;
    height: 20px;
}
#search p {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* -- Display Searched Users */
#searchUsers {
    background-color: white;
    display: inline-block;
    justify-content: left;
    padding: 50px;
    margin: 20px;
    max-width: 200px;
}

#searchPage {
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
}

#searchPage a {
    text-decoration: none;
}
